{% extends 'base_inner.html' %}
{% load static %}
{% block title %}Mitosis | Api  {% endblock %}

{% block content %}



<div class="row">
    <div class="col-lg-12">
       <div class="p-2 p-lg-4">

         <div class="row mt-3">
           <input type="hidden"   class=" input--style-4 w-100" placeholder="Name" id="current_url"  name="current_url" ng-model="user.current_url" ng-init="user.current_url='{{current_url}}'"  >
            <div class="col-lg-6">
              <button class=" btn btn-warning float-left submit_button" ng-click="get_api_list_view_data(user.current_url)">View {{current_url |title}} List</button>
            </div>
            
             
         </div>


          
          <div class="row m-0">
             
            <div class="col-lg-10 px-3 px-lg-4 mb-3 mt-5" >
               <div class="form-group bmd-form-group mt-1">
                     <label class="">Name</label>
                    
                     <input type="text"   class="empty_value input--style-4 w-100" placeholder="Name" id="name_api"  name="name_api" ng-model="user.name_api" ng-init="user.name_api=''"  ng-keyup="user.name_api=user.name_api.toUpperCase()" onkeyup="onlyletters(this)">
                                          
                  </div>
         
             </div>
             
          </div>

          {% if current_url == 'languages' %}

             <div class="row m-0">
                
               <div class="col-lg-10 px-3 px-lg-4 mb-3" >
                  <div class="form-group bmd-form-group mt-1">
                        
                     <label class="">Paradigm</label>
                    <select class="input--style-4 py-3" id="sel1"  ng-model="user.paradigm_value" ng-init="user.paradigm_value='0'" style="width:100%">
                        <option value="0" selected>-- Select  Paradigm --</option>
                        {% for paradigm in get_paradigm_value %}
                           <option value="{{paradigm.id}}">{{paradigm.name}}</option>
                        {% endfor %}
                      
                     </select>                                             
                  </div>
            
                </div>
                
             </div>
         {% elif current_url == 'programmers' %}
             <div class="row m-0">
                
               <div class="col-lg-10 px-3 px-lg-4 mb-3" >
                  <div class="form-group bmd-form-group mt-1">
                        
                     <label class="">Language</label>
                    <select class="input--style-4 py-3" id="sel1"  ng-model="user.language_value" ng-init="user.language_value='0'" style="width:100%" multiple="multiple">
                        <option value="0" selected>-- Select  Language --</option>
                        {% for language in get_language_value %}
                           <option value="{{language.id}}">{{language.name}}</option>
                        {% endfor %}
                      
                     </select>                                             
                  </div>
            
                </div>
                
             </div>



         {% endif %}

          <div class="row mt-3">
           
            <div class="col-lg-6">
                <button class="btn btn-warning float-right submit_button" ng-click="submit_api_call_data(user,'{{current_url}}')">Submit</button>
            </div>
            
             
         </div>

         
         <div class="row mt-3">
         
            <p class="data_display" style="color:red"></p>
         
         </div>

         
       </div>
    </div>
 </div>


{% endblock %}