{% extends 'index.html' %}
{% load static %}
{% block title %}Mitosis | Home{% endblock %}
{% block content %}

<section class="main_sec set_div_length home_div   d-flex justify-content-center align-items-center">
   <div class="container">
      <div class="row head_title justify-content-center align-items-center">
         <div class="col-lg-7">
		 
		    <div class="d-none d-lg-block ">
            <h5 class=" text-secondary fweight text-dg " style="padding-top:60px">Welcome to Mitosis Technology Private Limited</h5>
			</div>
			
			
      </div>
   </div>
</section>



{% endblock %}