{% load static %}
<!DOCTYPE html>
<html ng-app="myApp">
   <head>
      <title>{% block title %}{% endblock %}   </title>
      <link rel="shortcut icon" type="image/png" href = "{% static 'img/logo3.png' %}">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'outer/css/custom.css' %}">
      <link rel="stylesheet" href="{% static 'outer/css/responsive.css' %}">
      <!-- Main CSS-->
      <link href="{% static 'css/jquery_confirm.css' %}"rel="stylesheet">

      
   </head>
   <body ng-controller="registration_controller" ng-cloak>
      <div class="loader"></div>
      <!-- base_outer and inner .html -->
      <input type="hidden" ng-model="user.user_id" ng-init="user.user_id='{{ request.session.user_id }}'"/>
    
      <nav class="navbar navbar-expand-lg navbar-dark d-block p-0 static-top fixed-top get_div_length" style="background-color:lightgreen!important">
        
         <div class="container-fluid  ">
         <div class="row w-100 mx-0">
            <div class="container py-2">
               <a class="navbar-brand"  href="/" style="display:contents !important">
              
               </a>


               {% if user_id != '' %}
                  
                  <div class="position-absolute set_login_2 d-block d-lg-none">
                     <div class="dropdown">
                        <button class="btn text-white dropdown-toggle h6 mb-0 position-inherit" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <a class="dropdown-item" href="{% url 'dashboard' %}" >Dashboard</a>
                          <a href="{% url 'logout' %}" class="dropdown-item"> Logout  </a>
                       </div>
                        
                     </div>
                  </div>
               {% elif user_id == '' %}
                  <div class="position-absolute set_login d-block d-lg-none"> 
                     <a class="text-uppercase text-white" href="{% url 'login' %}"> Login </a> 
                  </div>
               {% endif %}
              
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse text-uppercase" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item l1 px-lg-3">
                        <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                        </a>
                     </li>
                     <li class="nav-item l2  px-lg-3 ">
                        <a class="nav-link" >About</a>
                     </li>
                     <li class="nav-item  l3  px-lg-3 ">
                        <a class="nav-link" >Gallery</a>
                     </li>
                     <li class="nav-item  l4 px-lg-3 ">
                        <a class="nav-link" >Contact Us</a>
                     </li>
                     <li class="nav-item  l5 px-lg-3 ">
                        <a class="nav-link" href="{% url 'reg' %}" >Registration</a>
                     </li>
                     <li class="nav-item px-lg-3">
                        {% if user_id != '' %}
                        <div class=" d-none d-lg-block" >
                           <div class="dropdown d-lg-block  h-100">
                              <a class="btn  text-white dropdown-toggle button_account_drop h-100 pl-0" data-toggle="dropdown">
                              My Account
                              </a>
                               <div class="dropdown-menu" style="color:black">
                                 <a href="{% url 'dashboard' %}" class="nav-link py-1 text-secondary px-3"> Dashboard
                                 </a>
                                 <a href="{% url 'logout' %}" class="nav-link py-1 text-secondary d-lg-block px-3"> Logout
                                 </a>
                              </div>
                              <div class="dropdown-menu" style="color:black">
                                 
                              </div>
                           </div>
                        </div>
                     </li>
                     <div class=" d-none d-lg-block" >
                        {% elif user_id == '' %}
                        <div class=" d-none  l6 d-lg-block" >
                           <a href="{% url 'login' %}" class="nav-link box-rect-white px-3"> Login
                           </a>
                        </div>
                        {% endif %}
                        </li>
                     
                  </ul>
                  </div>
               </div>
            </div>
         </div>
      </nav>
      {% block content %}
      {% endblock %}
      
   </body>
   <script type="text/javascript" src="{% static 'js/jquery-latest.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
 
   <!-- // <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script> -->
   <script src="{% static 'outer/vendor/jquery/jquery.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular/angular-messages.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular/angular-base64-upload.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular/angular-locale_pt-br.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   
   <!-- Slick Slider Js-->
   
   <script type="text/javascript" src="{% static 'js/jquery_confirm.js' %}"></script>
   
   <script src="{% static 'js/main.js' %}"></script>
  
  
   <script src="{% static 'js/basic_login_registration.js' %}"></script>

   <script>
       function onlynumbers(e) {
        var text1 = e;
        space_remover(e);
        var numregex = /[^0-9]/gi;
        if (numregex.test(text1.value)) {
          text1.value = text1.value.replace(numregex, "");
        }
      }
      ///////////////////////////////
      function onlyletters(e) {
        var text1 = e;
        space_remover(e);
        var reg = /[^a-z|^A-Z|^\s]/;
        if (reg.test(text1.value)) {
          text1.value = text1.value.replace(reg, "");
        }
      }


      function space_remover(e) // space remover 
      {
        if(e.value.match(/\s/g)) {
          e.value = e.value.replace(/\s/g, '');
        }
      }


   </script>
</html>