{% extends 'index.html' %}
{% load static %}
{% block title %}Mitosis | Login{% endblock %}
{% block content %}
<section class="main_sec set_div_length h-auto home_div bg-white d-flex justify-content-center align-items-center">
   <div class="container">
      <div class="row head_title  py-4 justify-content-center align-items-center mb-3 mb-lg-0">
         <div class="col-12 text-center" style="padding-top:60px">
            <h3 class="underline mb-4 text-dg">USER LOGIN  </h3>
         </div>
		
		
		 
		
		
         <div class="col-lg-12  bshadow  text-center mb-3 mb-lg-0 mx-3 mx-lg-0">
            <div class="boxs p-1 p-lg-4 py-4 py-lg-4">
             
               <div class="login_success" >
               </div>
               <div class="username_err">
               </div>
               <form name="myForm" method="POST">
                  {% csrf_token %}
                  <div class="form-group mb-2 text-left">
                     <label for="email_mob_login">Email address or Mobile number</label>
                     <input type="text" class="input--style-4" id="email_mob_login" name="email_mobile" placeholder="" ng-model="user.email_mobile" ng-init="user.email_mobile=''" ng-blur="validation('email_mobile',user.email_mobile)" ng-keyup="user.email_mobile=user.email_mobile.toLowerCase()" >
                     <p ng-messages="myForm.email_mobile.$error" style="color:red;font-size:12px" role="alert"  >
                        <%email_mobile_err%>
                     </p>
                  </div>
                  <div class="form-group mb-2 text-left">
                     <label for="pwd">Password</label>
                     <input type="<%inputType%>" class="input--style-4" id="password" placeholder="" name="password" ng-model="user.password" ng-init="user.password=''" ng-blur="validation('password',user.password)"  ng-trim="false" custom-filter-validation>
                     <p ng-messages="myForm.password.$error" style="color:red;font-size:12px" role="alert" >
                        <%passwordid_err%>
                     </p>
                  </div>
                  <div class="form-group form-check float-right">
                     <label class="form-check-label">
                     <input class="form-check-input" type="checkbox" ng-click="show_password()"> Show Password
                     </label>
                  </div>
                  <button type="submit" class="btn btn-danger  text-center w-100  mb-2" ng-click="check_login_user_credentials(user)">LOGIN</button>
                  
               </form>
            </div>
         </div>
      </div>
   </div>
   </div>	 
</section>
{% endblock %}