{% extends 'index.html' %}
{% load static %}
{% block title %}Mitosis | Registration{% endblock %}
{% block content %}

<section class="main_sec set_div_length h-auto  home_div bg-white d-flex justify-content-center align-items-center">

  
  
   <div class="container">
      <div class="row" style="padding-top:60px">
         
         <div class="col-lg-12 px-2">
            <div class="boxs  p-lg-4">
               <h4 class=" text-dg text-center mb-3 text-uppercase"> User Registration </h4>
            </div>

         </div>

      </div>


      <div class="row mb-lg-2">
         <div class="col-lg-6">
            <div class="form-group bmd-form-group mt-1">
               <label class="">First name</label>
              
               <input type="text"   class="empty_value input--style-4 w-100" placeholder="First Name" id="first_name"  name="fname" ng-model="user.fname" ng-init="user.fname=''" ng-blur="validation('fname',user.fname)" ng-keyup="user.fname=user.fname.toUpperCase()" onkeyup="onlyletters(this)">
                                       <p ng-messages="myForm.fname.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value">
                                             <%firstnameerr%>
                   
                                       </p>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="form-group bmd-form-group">
               <label class="">Last Name</label>
              <input type="text"   class="empty_value input--style-4 w-100"  placeholder="Last Name" id="lastname"  name="last_name" ng-model="user.last_name" ng-blur="validation('last_name',user.last_name)" ng-keyup="user.last_name=user.last_name.toUpperCase()" ng-init="user.last_name=''" onkeyup="onlyletters(this)" >
                                       <p ng-messages="myForm.last_name.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value" ;>
                                                <%lname_err%>
                                       </p/>
            </div>
         </div>
      </div>
                   
      <div class="row mb-2">
         <div class="col-lg-6">
            <div class="form-group bmd-form-group">
               <label class="">Email Address/ Mobile Number</label>
               <input type="text"   class="empty_value input--style-4 w-100"  placeholder="Email Address/Mobile Number" id="email_mobile"  name="email_mobile" ng-model="user.email_mobile" ng-keyup="user.email_mobile=user.email_mobile.toLowerCase()" ng-blur="validation('email_mobile',user.email_mobile)" ng-init="user.email_mobile=''"  >
                  <p ng-messages="myForm.email_mobile.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value" ;>
                           <%email_mobile_err%>
                  </p/>
            </div>
         </div>
         
      </div>
                  
     

       <div class="row">
         <div class="col-lg-6 my-2">
            <div class="form-group bmd-form-group">
               <label class="">Password</label>
               <input type="password" class="empty_value input--style-4 w-100" id="password" placeholder="New Password" name="password" ng-model="user.password" ng-init="user.password=''" ng-blur="validation('password',user.password)"  maxlength='15' minlength='6' onkeyup="space_remover(this)" title="Use minimum 6 characters" >
                                          <p ng-messages="myForm.password.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value">
                                             <%passwordid_err%>
                                          </p>
            </div>
         </div>
         <div class="col-lg-6 my-2">
            <div class="form-group bmd-form-group">
               <label class="">Confirm Password:</label>
                <input type="password" class="empty_value input--style-4 w-100" placeholder="Confirm Password" id="password1" name="conpassword" ng-model="user.conpassword" ng-init="user.conpassword=''" ng-blur="validation('conpassword',user.conpassword)"   maxlength='15' minlength='6' onkeyup="space_remover(this)" title="Use minimum 6 characters">
                                 
                                       <p id="color" ng-messages="myForm.conpassword.$error" style="text-transform:none!important;color:red;font-size:12px" role="alert" class="empty_value" >
                                             <%passwordid1_err%>
                                       </p>
            </div>
         </div>
      </div>

      <div class="text-center ">
         <div class="offset-xs-3 col-xs-9">
            <button type="submit" class="btn  btn-danger" id="register_button_id" ng-click="registeration_user_data(user)">Submit</button>
         </div>
      </div>
      
   </div>

</div>
<style>
   .overlay_div 
   {
   position: fixed; 
   width: 100%; 
   height: 100%; 
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   
   
   cursor: pointer; 
   overflow-y: scroll;
   }
   .box_item{background:#ffffff;}
   .reg_process ul li a{font-size:16px;}
   .admin_page label{margin-left:0px !important;}
  
</style>









{% endblock %}