/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
   .head_title h2{font-size:18px !important;}
   .head_title h5{font-size:16px;}
   .head_title h4{font-size:20px;}
   .head_title h3{font-size:22px;}
   .head_title {text-align:center; padding-top:25px !important;}
   .head_title img{ width: 250px !important;; float:inherit !important;}
   .w-sm-60{width:45% !important;}
   
   .img-cus{width:250px !important;}
   .cus-text-justify{text-align:justify !important;}
   .contact .main .left{padding: 25px 30px;}
   .cus_div h5{font-size:16px;}
   .card-body{    padding: 12px;}
   .cus_font{font-size:14px;}
   .cus_font_head{font-size:18px;}
   .cus_font_center{text-align:center;}
   .card-box{min-height: auto;padding: 10px 18px 16px;}
   .card-box p{font-size:14px;}
   .card-title h2{font-size: 20px;}
   .cus-h-auto{height:auto !important; }
   .contact .heading h2{font-size:20px;}
   .cd-multi-steps.count li > *::before{content: "";}
   
   section{padding:5px 0;}
   
   .logo_dg{width:130px !important;}
   .navbar-toggler{padding: .25rem .50rem !important;font-size: 1rem !important;}
}
   


/* Small devices (portrait tablets and large phones, 600px and up) */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  
  .home_pagee img{width:400px !important;}
}

@media only screen and (min-width: 1200px)  and  (max-width: 1400px) 
{
 
  .main_sec img{width:80% !important}
  .main_sec h2{font-size:25px; !important}
  .navbar-brand img{width:150px;}
  
}





