@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap');
html,
body {
	height: 100%;
}

.bg-box {
	background: #f7f7f7;
	border-radius: 5px;
}

.c_pr a {
	font-weight: bold;
	color: gray !important;
}

.w-svg-cus{width:200px !important;}
.side_img{    
    width: 17px;
  }


.zoomin{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
	cursor:pointer;
	opacity:0.8;
}

.zoomin:hover{    -webkit-transform: scale(1.1);
    transform: scale(1.1);
	opacity:1;
	}


.menu-x-left{    left: 0px;
    top: 15px;
    z-index: 1;
    cursor: pointer;}
	
	
	.boxx-menu-2{background: #ffdcdc !important;}
/* .svg_op1 path,.svg_op1 circle{opacity:1 !important;} */	
.w-svg{width:100px;}
	
	
	.gr_shadow{
	height: 100px;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,bottom top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to bottom,rgb(255, 255, 255) 0,rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
    top: 0;
	position:fixed;
	width:100%;
	z-index:1;
	}



.hero-bkg-animated {
  background: gray url('../img/general-images/audio_pic.png') repeat 0 0;
   -webkit-animation: slide 20s linear infinite;
 
  border-radius: 16px;
}



@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}







	
.img-audio-logo{width:150px !important;}	

.music_page .music_div{cursor:pointer;}
.music_page .music_div img:hover{opacity:1;}
.music_page .music_div img{opacity:0.8;}

.current .cd-breadcrumb li.current > *, .cd-multi-steps li.current > *{
    font-weight: 900;
text-decoration: underline;}

.cd-multi-steps .current::after{background:#e44d53 !important;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{color:rgb(228, 79, 85);}
.nav-tabs .nav-link{color:rgb(142, 129, 135)}

#video_player{box-shadow: 10px 10px 5px -7px #dcdada;border: 1px solid #dadada;}

.line-height{    line-height: normal;}
/*.c_pr a{background: gray;}  
.c_pr a:hover:before{background: #960006;} */

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/logo.gif') 50% 50% no-repeat rgb(255, 255, 255);
	opacity: .9;
}

.blur {
	-webkit-filter: blur(5px);
	/* Chrome, Safari, Opera */
	filter: blur(5px);
}


.no-touch .cd-multi-steps.text-top a:hover::before, .no-touch .cd-multi-steps.text-bottom a:hover::before{
	box-shadow:inherit !important;
}



.sidebar-table tbody tr:hover{background:#ffe5e6;}
#mySidebar p {
	font-size: 14px;
	font-weight: 500;
}

#mySidebar p:hover {
	font-size: 15.2px;
	font-weight: 600;
	color: #e44d53;
	-webkit-transition: all 0.9s ease;
	-moz-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	-ms-transition: all 0.9s ease;
	text-decoration: underline;
}

.h-10 {
	height: 10% !important;
}

.h-20 {
	height: 20% !important;
}

.h-25 {
	height: 25% !important;
}

.h-30 {
	height: 30% !important;
}

.h-35 {
	height: 35% !important;
}

.h-40 {
	height: 40% !important;
}

.h-45 {
	height: 45% !important;
}

.h-60 {
	height: 60% !important;
}

.h-65 {
	height: 65% !important;
}

.h-70 {
	height: 70% !important;
}

.h-75 {
	height: 75% !important;
}

.h-80 {
	height: 80% !important;
}

.h-85 {
	height: 85% !important;
}

.h-90 {
	height: 90% !important;
}



.sub-title {
	font-family: inherit ;
	font-weight: 400;
	color: #888888;
}



.bg-doyogame {
	background: #e44d53;
}

.bdr-radius {
	border-radius: 15px 15px 0 0;
}

.h-in{height:inherit !important;}
section{padding:50px;}

.text-dg {
	color: #e44d53;
}

.bg-dg {
	background: #e44d53;
}

.box-item {
	box-shadow: 0px 4px 10px 3px rgba(253, 132, 132, 0.1);
	border-radius: 7px;
	cursor: pointer;
	border-bottom: 2px solid #e44d535c;
	margin-bottom: 10px;
}

.bdr-bottom {
	border-bottom: 4px solid #e44d53;
}

.bdr-top {
	border-top: 4px solid #e44d53;
}

.box-item:hover {
	
	transition: background-color 1s ease, border-width 1s linear, text-shadow 1s linear;
	text-shadow: 2px 2px 2px #c3b6b6;
}

.btnss-box{position:fixed;z-index:100;right:20px;bottom:10px;}

.btnss{
    display: inline-block;
    text-decoration: none;
    color: rgba(152, 152, 152, 0.43);/*IconColor*/
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}
.btnss .fa {
    line-height: 50px;
	 color:#e44d53;
	 opacity:0.7;
}

.btnss .fa:hover {
   opacity:1;
}


.btnss:active {/*onClick*/
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}



.menuBar {
	right: 20px;
	top: 15px;
	z-index: 1;
	cursor: pointer;
}

.menuBar-x {
	right: 0px;
	top: 15px;
	z-index: 1;
	cursor: pointer;
}

.menuBar-x div {
	border-radius: 30px 0px 0px 30px;
	background: #f9eded;
	color:#e44d53;
}

.cus-form-control{
    border: 1px solid #f9f1f112;
    border-radius: 0px;
   box-shadow: 1px 3px 8px #efefef;
}
.cus_table tbody>tr>th{font-weight:500;}

.img-set img {
	position: absolute;
	right: 0;
}

.owl-stage{margin:0 auto;}

.box-item-style-1 {
	box-shadow: 0px 6px 16px 5px #f1f1f1;
	border-radius: 10px;
	cursor: pointer;
}

.box-item-style-1:hover {
	box-shadow: 8px 11px 17px 5px #efeeee;
	transition: box-shadow 0.5s ease-in-out;
}

.bg-light-gray {
	background: rgb(247, 239, 239)!important;
}

.overlay_sec {
	position: fixed;
	/* Sit on top of the page content */
	width: 100%;
	/* Full width (cover the whole page) */
	height: 100%;
	/* Full height (cover the whole page) */
	top: 0;
	
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.96);
	/* Black background with opacity */
	z-index: 1031;
	/* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer;
	/* Add a pointer on hover */
}

/* .sidebardiv .overlay_sec{width:30%;} */

.overlay_sec2 {
	position: fixed;
	/* Sit on top of the page content */
	width: 100%;
	/* Full width (cover the whole page) */
	height: 100%;
	/* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.96);
	/* Black background with opacity */
	z-index: 1030;
	/* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer;
	/* Add a pointer on hover */
}

.home-sec-1 {
	
	background-position: center;
	background-blend-mode: multiply;
}

#mySidebar,
#video_div {
	display: none;
}

.bg-dg-gr {
	/* Permalink - use to edit and share this gradient: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e27377+0,e44d53+38,e2363c+100 */
	background: #e44d53;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #e44d53 0%, #d44248 38%, #a00006 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #e44d53 0%, #d44248 38%, #a00006 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #e44d53 0%, #d44248 38%, #a00006 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e44d53 ', endColorstr='#a00006 ', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.owl-one .owl-dots .owl-dot span {
	width: 18px !important;
	height: 4px !important;
}

.btn-group-or>.btn:first-child {
	padding-right: 1.2rem;
}

.btn-group-or>.btn:last-child {
	padding-left: 1.2rem;
}

.btn-group-or .or {
	position: relative;
	width: .3rem;
	height: 2.5rem;
	z-index: 3;
}

.btn-group-or .or:before {
	position: absolute;
	text-align: center;
	border-radius: 50%;
	content: 'or';
	top: 50%;
	left: 50%;
	background-color: #fff;
	margin-top: -1rem;
	margin-left: -1rem;
	width: 2rem;
	height: 2rem;
	line-height: 1.8rem;
	color: #868e96;
}

.line_height {
	line-height: 25px;
}

ul{
    padding-inline-start: 25px;
}

.owl-item p {
	line-height: 30px;
}

.box-menu {
	    background: #ffffff;
    border-radius: 6px;
    color: #6d6464 !important;
}
.bdr-radius-full{border-radius: 30px 30px 30px 30px;}
.methods-box {
	border-radius: 6px;
}

.top-menu-title {
	top: 2px;
	border-radius: 18px 18px 0 0;
	z-index: 10;
	left: 6px;
}

.top-menu-title-right {
	top: 10px;
	border-radius: 30px 30px;
	right: 10px;
	height: 50px;
	width: 50px;
	border: 2px solid #e76066;
	box-shadow: -2px 3px 6px 2px #e825252b;
	cursor: pointer;
	z-index: 10;
}

.top-menu-title-right img {
	width: 30px;
}

.bg-light-gray {
	background: #f1f1f1;
}

.bg-dg-light {
	background: #ffc1c4;
	color: #6f5454;
}

.br_b {
	border-bottom: 5px solid #e44f55;
}

.left-btn {
	border-radius: 20px 0px 0px 20px;
	border-right: 3px solid #ad0d0d !important;
}

.right-btn {
	border-radius: 0px 20px 20px 0px;
	border-left: 3px solid #ad0d0d;
}

.box-menu {
	background-image: url("../img/general-images/Icon_close1.png");
	background-repeat: no-repeat;
	background-position: right top;
}

.owl-two .owl-item img {
	width: 50%;
	margin: 0 auto;
}

.owl-two .owl-dot span {
	width: 20px !important;
	height: 4px !important;
}

.owl-nav {
	color: #e44d53;
}

#index-video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -100;
	right: 0;
	bottom: 0;
	background: url(../images/video_poster/1.jpg) no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

.index-video-wrapper {
	height: 100%;
	width: 100%;
	background: url(../images/video_poster/1.jpg) no-repeat center center;
	background-size: cover;
}

span.steps {
	background: #db474d;
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.7em;
	margin-left: 8px;
	text-align: center;
	width: 1.7em;
}

.Icon_close {
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	right: 10px;
	top: 10px;
}

.background_cs{background-image:url('../img/general-images/audio_bg.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.Icon_close i {
	font-size: 30px;
}

.bottom-div {
	bottom: 0;
}

.bg-light-dg {
	background: rgb(255, 237, 238);
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box .btn:link,
.btn:visited {
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	top: 0;
	left: 0;
	border-radius: 100px;
	display: inline-block;
	transition: all .5s;
}

.btn-white {
	background: #fff;
	color: #000;
}

.feedback_divv{overflow-y:scroll;}

#mySidebar{
background: rgba(35, 35, 35, 0.49) !important;
}

.box .btn:hover {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-3px);
}

.box .btn:active {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) transform:translateY(-1px);
}

.box .btn-bottom-animation-1 {
	animation: comeFromBottom 1s ease-out .8s;
}

.box .btn::after {
	content: "";
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 100px;
	display: inline-block;
	z-index: -1;
	transition: all .5s;
}

.box .btn-white::after {
	background: #fff;
}

.box .btn-animation-1:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

@keyframes comeFromBottom {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.feedback img {
	opacity: 0.8;
	
	transition: transform .8s;
}

.fb_form{border-radius: 12px;
    box-shadow: 12px 12px 12px #0000001f;
}






.feedback img:hover {
	opacity: 1;
	filter: grayscale(0%);
	-ms-transform: scale(1.5);
	/* IE 9 */
	-webkit-transform: scale(1.048);
	/* Safari 3-8 */
	transform: scale(1.048);
	cursor: pointer;
}

.feedback_hvr img {
	opacity: 1;
	filter: grayscale(0%);
	-ms-transform: scale(1.5);
	/* IE 9 */
	-webkit-transform: scale(1.048);
	/* Safari 3-8 */
	transform: scale(1.048);
	cursor: pointer;
}

.feedback_info {
	border: 2px solid #f1ebeb;
	border-radius: 10px;
}

.feedback_form {
	opacity: 0.4;
}

#triangle-topright {
	right: 16px;
	top: 8px;
}

#triangle-topright img {
	width: 40px;
	filter: grayscale(20%);
	opacity: 0.4;
}

.table.dataTable,
table.dataTable th,
table.dataTable td {
	text-align: center;
	vertical-align: middle
}

.owl-theme .owl-nav [class*=owl-]:hover {
	width: 35px;
	height: 25px;
}

.owl-theme .owl-nav [class*=owl-] {
	width: 35px;
	height: 25px;
	border: 2px solid #e44d53 !important;
}

.fixed-bottom .col-4 {
	cursor: pointer;
	transition: transform .8s;
}

.fixed-bottom .col-4:hover {
	-ms-transform: scale(1.5);
	/* IE 9 */
	-webkit-transform: scale(1.048);
	/* Safari 3-8 */
	transform: scale(1.048);
}

.disable_cus {
	pointer-events: none;
	filter: grayscale(0%);
	opacity: 0.8;
}

.line-height-ex{line-height:30px;}


.audio-player {
/*   background: white;
  border: 1px solid #dfdfdf;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row;
  margin: 4rem 0 4rem 0;
      border-radius: 25px; */
}
.audio-player .album-image {
  min-height: 100px;
  width: 130px;
  background-size: cover;
}
.audio-player .player-controls {
  align-items: center;
  justify-content: center;
 
  flex: 3;
}
.audio-player .player-controls progress {
  width: 90%;
}


.audio-player .player-controls progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: blue;
  height: 5px;
}
.audio-player .player-controls progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #dfdfdf;
  color: blue;
}
.audio-player .player-controls progress::-webkit-progress-value {
  background-color: blue;
}
.audio-player .player-controls p {
  font-size: 1.6rem;
}
.audio-player #play-btn {
  background-image: url("../img/general-images/play-button.png");
  background-size: cover;
  width: 75px;
  height: 75px;
  
}
.audio-player #play-btn.pause {
  background-image: url("../img/general-images/pause-button.png");
}

.instrumental_audio{

	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	 background: gray url('../img/general-images/audio_pic.png') repeat 0 0;
   -webkit-animation: slide 20s linear infinite;
 
  border-radius: 16px;
}

.sound_energy_audio{

	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

}


.opacity04
{
 opacity: 0.4;
}